{% extends 'BackendBundle::layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-xs-12">
			<div class="card">
				<div class="card-header">
					Contactos Form CCPUCP
				</div>

				<div class="card-body no-padding">
					<div class="table-responsive">
						<table class="datatable table table-hover dt-responsive primary" cellspacing="0" width="100%">
						<thead>
					        <tr>
					            <th>Name</th>
					            <th>Position</th>
					            <th>Office</th>
					            <th>Age</th>
					            <th>Start date</th>
					            <th>Salary</th>
					            <th>Salary</th>
					            <th>Salary</th>
					            <th>Salary</th>
					            <th>Salary</th>
					            <th>Salary</th>
					            <th>Salary</th>

					        </tr>
					    </thead>
					    <tbody>
					    	<tr>
					            <td>Tiger Nixon</td>
					            <td>System Architect</td>
					            <td>Edinburgh</td>
					            <td>61</td>
					            <td>2011/04/25</td>
					            <td>$320,800</td>
					            <td>$320,800</td>
					            <td>$320,800</td>
					            <td>$320,800</td>
					            <td>$320,800</td>
					            <td>$320,800</td>
					            <td>$320,800</td>
					        </tr>
					    </tbody>
					</table>

					</div>
				</div>
			</div>
		</div>
	</div>
    
{% endblock %}